<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>k4prog2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='my_style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Formular</title>
</head>
<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
          <li class="nav-item"><a href="http://127.0.0.1:5000" class="nav-link" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/form" class="nav-link" aria-current="page">Buch erfassen</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/übersicht" class="nav-link">Übersicht</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/genre" class="nav-link">Genre-Filter</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/gelesen" class="nav-link">Gelesen</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/about" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>
<!--https://draeger-it.blog/python-flask-5-formular-erstellen-daten-verarbeiten/-->
<h1> <center> Willkommen zur Eingabe </center> </h1>
<a> Bitte Felder ausfüllen</a>
<br></br>
<!--https://getbootstrap.com/docs/4.0/components/forms/-->
<form method="POST">
  <div class="form-group">
    <label for="Name">Name des Buches</label>
    <input name="Name" class="form-control" id="Name" placeholder="Name eingeben">
    <br>
    <label for="Autor">Name des Autors</label>
    <input name="Autor" class="form-control" id="Autor" placeholder="Autor eingeben">
    <br>
    <label for="Anzahl Seiten">Anzahl Seiten</label>
    <input name="Anzahl Seiten" class="form-control" id="Anzahl Seiten" placeholder="Seitenzahl">
    <br>
  </div>
  <div class="form-group">
    <label for="Genre">Genre auswählen</label>
    <select class="form-control" name="Genre" id="Genre">
      <option>Roman</option>
      <option>Krimi</option>
      <option>Science Fiction</option>
      <option>Liebe</option>
      <option>Sachbücher</option>
      <option>Restliche Bücher</option>
    </select>
      <br>
  </div>
  <div class="form-group">
    <label for="Comment">Comment</label>
    <textarea class="form-control" name="Comment" id="Comment" rows="2"></textarea>
  </div>
  <div class="form-check">
    <input name="gelesen" type="checkbox" class="form-check-input" id="gelesen">
    <label class="form-check-label" for="gelesen">gelesen</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<body>

</body>
</html>