<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Formular</title>
</head>

<---https://draeger-it.blog/python-flask-5-formular-erstellen-daten-verarbeiten/--->
<a> Bitte Felder ausfüllen</a>
<form method="POST">
    <input type="text" name="Name vom Buch" placeholder="Bitte geben Sie den Namen des Buches ein">
    <br/><br/>
    <input type="text" autor="Autor" placeholder="Bitte geben Sie den Namen des Autors ein">
    <br/><br/>
    <input type="text" genre="Genre" placeholder="Bitte geben Sie das Genre ein">
    <br/><br/>
    <input type="text" pages="Anzahl Seiten" placeholder="Bitte geben Sie die Anzahl Seiten ein">
    <br/><br/>
    <input type="text" comment="Comment" placeholder="Bitte geben Sie Ihre Bemerkung ein">
    <br/><br/>
    <button type="submit">Senden</button>
</form>

<body>

</body>
</html>