<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>k4prog2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='my_style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
          <li class="nav-item"><a href="http://127.0.0.1:5000" class="nav-link" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/form" class="nav-link" aria-current="page">Buch erfassen</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/übersicht" class="nav-link">Übersicht</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/suche" class="nav-link">Suche</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/gelesen" class="nav-link">Gelesen</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/about" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>
<h1> <center>Willkommen zu den gelesenen Bücher </center></h1>

</body>
</html>