{% include "header.html" %} <!--jinja-logik für die übernahme der im header.html eingebauten Codes-->
{% include "navbar.html" %} <!--jinja-logik für die übernahme der im navbar.html eingebauten Codes-->
<body>
<h1> <center>Willkommen zur Bücherdatenbank </center></h1>
<a> <center>Mit dieser Datenbank wirst Du eine Übersicht erhalten, welche Bücher du lesen möchtest und welche du gelesen hast. Zusätzlich wirst Du die Möglichkeit haben, nach Büchern zu suchen. </center> </a>
<br>
{{ visual|safe }}
</body>
</html>
