{% include "header.html" %} <!--jinja-logik für die übernahme der im header.html eingebauten Codes-->
{% include "navbar.html" %} <!--jinja-logik für die übernahme der im navbar.html eingebauten Codes-->
<body>
<h1><center> Willkommen zur Übersicht </center></h1>
<a><center>Hier findest du alle Bücher, welche du bisher eingetragen hast.</center></a>

<!--Bootstrap-->
<div class="m-5"> <!--Spacing-->
    <table class="table table-hover"> <!--Tabelle für die Übersicht-->
        <thead class="thead-dark">
            <th style="width: 20%" scope="col">Name</th>
            <th style="width: 20%" scope="col">Autor</th>
            <th style="width: 20%" scope="col">Genre</th>
            <th style="width: 20%" scope="col">Anzahl Seiten</th>
            <th style="width: 20%" scope="col">Comment</th>
        </thead>
        <tbody>

            {% for element in liste %} <!--for-loop für Elemente aus der Liste, welche bei der app.route unter Funktionen zum Schluss angegeben wurde, werden hier aufgerufen-->
            <tr>

                <td class="vw-2">{{ element[0] }}</td> <!--Variabeln im html einbauen aus der Liste-->
                <td>{{ element[1] }}</td>
                <td>{{ element[2] }}</td>
                <td>{{ element[3] }}</td>
                <td>{{ element[4] }}</td>
            </tr>
            {% endfor %} <!--Aufruf der Liste und for-loop beenden-->
        </tbody>
    </table>
</div>
</body>
</html>
