<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>k4prog2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='my_style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
          <li class="nav-item"><a href="http://127.0.0.1:5000" class="nav-link" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/form" class="nav-link" aria-current="page">Buch erfassen</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/übersicht" class="nav-link">Übersicht</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/genre" class="nav-link">Genre-Filter</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/gelesen" class="nav-link">Gelesen</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:5000/about" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>
<h1><center> Willkommen zur Übersicht </center></h1>
<a><center>Hier findest du alle Bücher, welche du bisher eingetragen hast.</center></a>

<!--Bootstrap-->
<div class="m-5">
    <table class="table table-hover">
        <thead class="thead-dark">
            <th style="width: 20%" scope="col">Name</th>
            <th style="width: 20%" scope="col">Autor</th>
            <th style="width: 20%" scope="col">Genre</th>
            <th style="width: 20%" scope="col">Anzahl Seiten</th>
            <th style="width: 20%" scope="col">Comment</th>
        </thead>
        <tbody>

            {% for element in liste %}
            <tr>

                <td class="vw-2">{{ element[0] }}</td>
                <td>{{ element[1] }}</td>
                <td>{{ element[2] }}</td>
                <td>{{ element[3] }}</td>
                <td>{{ element[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
